/*
 * Start Navigation
 */
.container-fluid {
  margin:0px;
  padding:0px;
}

.container-fluid:nth-of-type(1) {
  margin-top:60px;
}

.container-fluid > nav {
  padding-right:25px;
  background-color:#65C1DA;
  border-radius:0px;
}

.nav-header-image {
  height:60px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.nav-header-title {
  display:inline-block;
  margin:0px;
  font-size:38px;
  color:rgba(0,0,0,0.4);
  font-family: 'Niconne', cursive;
  position:relative;
  top:8px;
}

ul.navbar-right {
  margin-top:10px;
}

ul.nav-pills > li {
  border-radius:40px;
  background-color:rgba(0,0,0,0.15);
  margin-right:10px;
}

ul.nav-pills > li:hover,
ul.nav-pills > li > a:hover {
  border-radius:40px;
  background-color:rgba(0,0,0,0.22);
}

ul.nav-pills > li > a {
  color:#FFF;
}

.navbar {
  margin-bottom:0px;
  border:0px;
}

/* End Navigation */

/*
 * Start Body
 */
body {
  background-color:#E0F2F7;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

.col-md-6 {
  padding-left:0px;
  padding-right:0px;
}

.body-heading {
  font-family: 'Niconne', cursive;
  font-size:28px;
  color:rgba(0,0,0,0.7);
  margin-left:25px;
}

/*
 * Start Shell
 */
html, body,
.container-fluid:nth-of-type(2),
.row,
.col-md-6,
.shell,
.CodeMirror {
  height:100%;
}

.shell {
  width:50%;
  height:400px;
  background-color:rgba(0,0,0,0.7);
  position:fixed;
}

.shell-heading {
  color:#FFF;
  text-align:center;
  background-color:rgba(255,255,255,0.3);
}

.shell-output {
  background-color:rgba(0,0,0,0.7);
  color:#FFF;
}

.shell-output-body {
  background-color:rgba(0,0,0,0.85);
}

/* End Shell */

/*
 * Content Body
 */
.content-body {
  background-color:#FFF;
}

.welcome-heading {
  text-align:center;
  font-size:4.2em;
  font-family: 'Niconne', cursive;
}

/* End Content Body */

/* End Body */

