      <div class="row">
        <div class="col-md-12">
          <h2><i class="fa fa-list-alt"></i> Glossary</h2>
          <p><em>Below you will find a list of terminology used in this turorial as well as terminology that will be userful in general.</em></p>
          <p>For a full glossary of Perl terminology please see: <a href="http://perldoc.perl.org/perlglossary.html" target="blank">Perl Glossary</a></p>
          <hr>
 
          <h4>Filter Glossary</h4>
          <input id="search_input" ng-model="search_input" class="form-control" placeholder="Filter term">

          <br>

          <ul class="list" ng-repeat="item in glossary | filter:search_input | orderBy: 'term'">
            <li>
              <strong>{{item.term}}</strong>
              <p>{{item.definition}}</p>
	    </li>
          </ul>

        </div>
      </div>
